<!doctype html>
<html>
<head>
	<title>Pokemon Database</title>
    {{!-- {{#each css}} --}}
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5209dfc9aa.js" crossorigin="anonymous"></script>

    {{!-- {{/each}} --}}
    {{#each jsscripts}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	</script>
    {{/each}}
    <script src="/js/script.js"></script>

</head>
<body>
    <div class="sidebar">
        <img src="/images/logo.png" alt="logo" width="100%" height="15%">
        {{!-- <h2>POKEMON DATABASE</h2>
        <p>CAN YOU CATCH THEM ALL?</p> --}}
        <button class="sidebutton" onclick=location.href="/">Home</button></br>
        <button class="sidebutton" onclick=location.href="/trainer">Trainer</button></br>
        <button class="sidebutton" onclick=location.href="/pokemon">Pokemon</button></br>
        <button class="sidebutton" onclick=location.href="/storage">Storage</button></br>
        <button class="sidebutton" onclick=location.href="/region">Region</button></br>

        <div class="body bottom-container">
            <a class="footer-link" href="#" onclick=location.href="/"> <i class="fas fa-home fa-2x"></i><alt="home"></a>
            <a class="footer-link" href="https://www.linkedin.com/in/christopher-nguyen-5891015a/"> <i class="fab fa-linkedin fa-2x"> </i><alt="LinkedIn"></a>
            <a class="footer-link" href="https://github.com/ctopherngoc"> <i class="fab fa-github-square fa-2x"></i><alt="Github"></a>
            <p class="bottom-statement">© 2022 Christopher Nguyen.</p>
        </div>
    </div>

	{{{body}}}
</body>
</html>