<!DOCTYPE html>
<html>
<head>
  {{!-- <title> POKEMON PINK </title> --}}
</head>
<body class="index">
  <div class="mainbody">
    <img src="/images/home6.png" alt="logo" width="84%">
    {{!-- <div style="width: 50%;"> --}}
    {{!-- <img src="/images/home.jpeg" alt="logo" width="100%" height="100%"> --}}
      {{!-- <h3> Menu </h3>
      <ul>
        <li> <a href='/pokemon'>List of Pokemon</a></li>
      </ul>
      <ul>
        <li> <a href='/region'>List of Regions</a></li>
      </ul>
      <ul>
        <li> <a href='/storage'>List of Player's Pokemon Storage</a></li>
      </ul>
      <ul>
        <li> <a href='/trainer'>List of Pokemon Trainers</a></li>
      </ul> --}}
    {{!-- </div> --}}
  </div>
  <br/>
</body>
</html>
