<!DOCTYPE html>
<html>
<head>
  {{!-- <title> POKEMON PINK </title> --}}
</head>
<body>
  <div class="links, mainbody">
    <div style="background-color: white; width: 50%;">
      <h3> Menu </h3>
      <ul>
        <li> <a href='/pokemon'>List of Pokemon</a></li>
      </ul>
      <ul>
        <li> <a href='/region'>List of Regions</a></li>
      </ul>
      <ul>
        <li> <a href='/storage'>List of Player's Pokemon Storage</a></li>
      </ul>
      <ul>
        <li> <a href='/trainer'>List of Pokemon Trainers</a></li>
      </ul>
    </div>
  </div>
  <br/>
</body>
</html>
