<!DOCTYPE html>

<body>
 <div>
    
    <h1>Update {{this.region_id}}</h1>
    <form id="update_region" action="/update_region" class = "a_form" method="post">
      <input type="hidden" id="region_id" name="region_id" value="{{this.region_id}}" required>
      <label for="region_name" >Region_name</label>
      <div>
      <input type="text" required="required" id="region_name" name="region_name" value="{{this.region_name}}" required>
      </div>
      <p>
      <button type="submit">Update Region</button>
      </p>

    </form>
    </div>
  </body>


</html>