head {
  height: 0;
}

.tab {
  overflow: hidden;
  border: 1px solid;
  background-color: gray;
  width: 75%;
}
/* .linkc{
  margin-left: 200px;
} */

div h1 {
  border: 1px solid;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: gray;
  width: 75%;
  height: 35px;
}

#tab_table {
  text-align: left;
  border: none;
  border-spacing: 0px;
}

table{
  text-align: center;
  width: 75%;
}

td, tr {
  background-color: gray;
}

input {
  text-align: center;
  padding: 0px;
  background-color: lightgray;
}
.tabcontent {
  overflow: hidden;
  background-color: gray;
  /* was 74.24% */
  width: 75%;
  border: 1px solid black;
  border-top: none;
  height: 20%;
  /* box-sizing: border-box; */
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

}

.tab button:hover {
  background-color: purple;
}

.tab button.active {
  background-color: green;
}

.sidebar {
  background-color: yellow;
  position: static;
  float: left;
  height: 100vh;
  width: 16%;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  margin-right: 0px;
}
.mainbody {
  background-color: blue;
  position: static;
  margin-right: 0px;
}

.sidebutton {
  width: 100%;
  background-color: lightpink;
}

ul {
  list-style-type: none;
  margin-left: 10px
}


body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

h3 {
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 5px;
}

.tabelement {
  padding-left: 10px;
}

.submitbutton {
  margin-left: 5px;
}
